redirect message should include hyperlink

This is a request to include the following enhancement in Grizzly too.

[https://glassfish.dev.java.net/issues/show_bug.cgi?id=7041](https://glassfish.dev.java.net/issues/show_bug.cgi?id=7041)

------------
According to RFC2616 section 10.3.3 302 Found (quoted below), a 302 response
should contain a hyperlink to the new URI.

The temporary URI SHOULD be given by the Location field in the
response. Unless the request method was HEAD, the entity of the
response SHOULD contain a short hypertext note with a hyperlink to
the new URI(s).

In GlassFish, the body of a redirect message is empty.
The RFC says SHOULD, it is not a MUST, but would you consider follow this
recommendation?

We have noticed that when using Microsoft's Web Application Stress Tool, the
"Number of hits" in the report remain 0 because of this.
-----------

Jan Luehe would apply our patch to GlassFish (Response.java).
I think the appropriate place in Grizzly would be GrizzlyResponse.java (after
line 1263). However, my patch has a dependency on RequestUtil.filter (o.a.c.u
package), and I suppose you don't want such a dependency?

Maybe it is trivial to rewrite the patch to solve this (I haven't looked at it
yet). Please let me know if you would consider this enhancement, and if you
would prefer me to rewrite the patch so that it can be applied as-is to Grizzly.
Thanks.
#### Environment
Operating System: All
Platform: All
#### Affected Versions
[memcached-1.0]

@glassfishrobot Commented 
Reported by dkoper@java.net

@glassfishrobot Commented 
Was assigned to jfarcand@java.net

@glassfishrobot Commented 
jfarcand@java.net said:
Nice enhancement ![](https://java.net/jira/images/icons/emoticons/smile.gif) What I will do is to port RequestUtils/ResponseUtils into
the grizzly-utils modules so peoples can always take advantage of it when
writing a GrizzlyAdapter. After the next Grizzly integration into GlassFish we
can switch to those classes instead of the one in Catalina.

And one day Jan and I must get rid of the Request -> GrizzlyRequest code
duplication ![](https://java.net/jira/images/icons/emoticons/smile.gif)

@glassfishrobot Commented 
jfarcand@java.net said:
Finally, after looking at the patch I've found a more performant way to
implement the same behavior. Since the toAbsolute works at the bytes level, I'm
also using bytes when normalizing the url, which avoid too many String
conversion. We might also do the same in GlassFish if you agree.

The test case is here

Adding src/test/java/com/sun/grizzly/http/RedirectTest.java
Transmitting file data .
Committed revision 2232.

And the diff are

jfarcand@jfarcand-desktop:/appserv80/grizzly/trunk/modules/http/utils$ svn diff
Index: src/main/java/com/sun/grizzly/tcp/http11/GrizzlyResponse.java
===================================================================
— src/main/java/com/sun/grizzly/tcp/http11/GrizzlyResponse.java
(revision 2216)
+++ src/main/java/com/sun/grizzly/tcp/http11/GrizzlyResponse.java (working
copy)
@@ -60,9 +60,11 @@
import com.sun.grizzly.util.LoggerUtils;
import com.sun.grizzly.util.buf.CharChunk;
import com.sun.grizzly.util.buf.DateTool;
+import com.sun.grizzly.util.buf.MessageBytes;
import com.sun.grizzly.util.buf.UEncoder;
import com.sun.grizzly.util.http.Cookie;
import com.sun.grizzly.util.http.FastHttpDateFormat;
+import com.sun.grizzly.util.http.HttpRequestURIDecoder;
import com.sun.grizzly.util.http.MimeHeaders;
import com.sun.grizzly.util.http.ServerCookie;
import com.sun.grizzly.util.res.StringManager;
@@ -267,7 +269,7 @@
/**

*   Recyclable buffer to hold the redirect URL.
    */

*   protected CharChunk redirectURLCC = new CharChunk();
    + protected MessageBytes redirectURLCC = new MessageBytes();

// --------------------------------------------------------- Public Methods
@@ -318,7 +320,7 @@
*/
public String encodeURL(String url) {

*   String absolute = toAbsolute(url);
    + String absolute = toAbsolute(url, false);
    if (isEncodeable(absolute)) {
    // W3c spec clearly said
    if (url.equalsIgnoreCase("")){
    @@ -1256,11 +1258,39 @@

// Generate a temporary redirect to the specified location
try {

*   String absolute;
*   absolute = toAbsolute(location);
    + String absolute = toAbsolute(location, true);
    // END RIMOD 4642650
    setStatus(302);
    setHeader("Location", absolute);
    +
    + // According to RFC2616 section 10.3.3 302 Found,
    + // the response SHOULD contain a short hypertext note with
    + // a hyperlink to the new URI.
    + setContentType("text/html");
    + setLocale(Locale.getDefault());
    +
    + StringBuilder sb = new StringBuilder(150 + absolute.length());
    +
    + sb.append("<html>\r\n");
    + sb.append("<head><title>Document moved</title></head>\r\n");
    + sb.append("<body><h1>Document moved</h1>\r\n");
    + sb.append("This document has moved <a href=\"");
    + sb.append(absolute);
    + sb.append("\">here</a>.<p>\r\n");
    + sb.append("</body>\r\n");
    + sb.append("</html>\r\n");
    +
    + try { + getWriter().write(sb.toString()); + getWriter().flush(); + }

    catch (IllegalStateException ise1)

    Unknown macro: {+ try { + getOutputStream().print(sb.toString()); + } catch (IllegalStateException ise2) { + // ignore; the RFC says "SHOULD" so it is acceptable + // to omit the body in case of an error + }+ }

    } catch (IllegalArgumentException e)

    { setStatus(404); }

    @@ -1382,7 +1412,7 @@

*   @exception IllegalArgumentException if a MalformedURLException is
*   thrown when converting the relative URL to an absolute one
    */

*   protected String toAbsolute(String location) {
    + protected String toAbsolute(String location, boolean normalize) {

if (location == null)
return (location);
@@ -1398,16 +1428,20 @@

String name = request.getServerName();
int port = request.getServerPort();
-
+
+ System.out.println("location: " + port);
+
+
+ CharChunk cc = redirectURLCC.getCharChunk();
try {

*   redirectURLCC.append(scheme, 0, scheme.length());
*   redirectURLCC.append("://", 0, 3);
*   redirectURLCC.append(name, 0, name.length());
    + cc.append(scheme, 0, scheme.length());
    + cc.append("://", 0, 3);
    + cc.append(name, 0, name.length());
    if ((scheme.equals("http") && port != 80)

    | (scheme.equals("https") && port != 443)) { - redirectURLCC.append(':'); + cc.append(':'); String portS = port + ""; - redirectURLCC.append(portS, 0, portS.length()); + cc.append(portS, 0, portS.length()); }

    if (!leadingSlash)

    { String relativePath = request.getDecodedRequestURI(); @@ -1435,10 +1469,10 @@ encodedURI = urlEncoder.encodeURL(relativePath); } |

*   redirectURLCC.append(encodedURI, 0, encodedURI.length());
*   redirectURLCC.append('/');
    + cc.append(encodedURI, 0, encodedURI.length());
    + cc.append('/');
    }
*   redirectURLCC.append(location, 0, location.length());
    + cc.append(location, 0, location.length());
    } catch (IOException e) { IllegalArgumentException iae = new IllegalArgumentException(location); @@ -1446,7 +1480,11 @@ throw iae; }

*   return redirectURLCC.toString();
    + if (normalize) { + HttpRequestURIDecoder.normalize(redirectURLCC); + }

    +
    + return cc.toString();

} else {

Fixed:

Sending utils/src/main/java/com/sun/grizzly/tcp/http11/GrizzlyResponse.java
Transmitting file data .
Committed revision 2233.

@glassfishrobot Commented 
jfarcand@java.net said:
Fix target

@glassfishrobot Commented 
dkoper@java.net said:
We have checked your changes to the patch.
We have one concern. Our patch uses the filter method to replace sensitive HTML
characters. You took this out.
Just because it is a 302, can we assume nobody will ever get to see the
potentially dangerous page that the server returns?

I don't know why the RFC recommended (SHOULD) including a body, I don't know who
they thought would be looking at it, but as it's in the RFC and we are
implementing it now, we think it is safer to filter it.

Once you've ported RequestUtils/ResponseUtils into the grizzly-utils modules,
would you consider filtering the url?

@glassfishrobot Commented 
jfarcand@java.net said:
Salut,

yes because the HttpRequestURIDecoder.normalize(redirectURLCC); is exactly doing
what the filter what doing. Did I missed something? Thanks for checking!

@glassfishrobot Commented 
dkoper@java.net said:
Maybe it's too early in the morning for me, but I don't see it ![](https://java.net/jira/images/icons/emoticons/wink.gif)

RequestUtil.filter changes <, >, & and " into their HTML equivalents (<, etc.).

HttpRequestURIDecoder.normalize only seems to normalize the URL (i.e. change
double slashes, /../, /./, etc.

Could you give me the line of code where to look? (or better, the comment that
explains what the byte/char-fiddling is doing), s'il vous plaÃ®t?

@glassfishrobot Commented 
jfarcand@java.net said:
LOL...maybe it is too late for me ![](https://java.net/jira/images/icons/emoticons/smile.gif) Let me double check but I suspect I've
missed that part. In that case I will add support for the missing piece. I'm
trying to reduce the class number so that's why I've changed my mind with teh
RequestUtil...

@glassfishrobot Commented 
jfarcand@java.net said:
Turn this issue as a bug as we must filter/escape a the bytes level. Fix to comes.

@glassfishrobot Commented 
jfarcand@java.net said:
Finally I worked at the String level for filtering. Thanks for the patch!

Sending utils/src/main/java/com/sun/grizzly/tcp/http11/GrizzlyResponse.java
Transmitting file data .
Committed revision 2376.

@glassfishrobot Commented 
dkoper@java.net said:
We checked it again, looks good. Merci beaucoup!

@glassfishrobot Commented 
Marked as **fixed** on Wednesday, December 16th 2009, 6:15:12 pm

@glassfishrobot Commented 
This issue was imported from java.net JIRA GRIZZLY-401

* **Issue Imported From:** https://github.com/javaee/grizzly/issues/401
* **Original Issue Raised By:**@glassfishrobot
* **Original Issue  Assigned To:**@glassfishrobot
* **Original Issue  Closed By:**@glassfishrobot