Connection error should be issued if a new stream identifier is less then the last previously used stream ID.

Section 5.1.1 of RFC 7540 states:

> "The identifier of a newly established stream MUST be numerically
> greater than all streams that the initiating endpoint has opened or
> reserved.  This governs streams that are opened using a HEADERS frame
> and streams that are reserved using PUSH_PROMISE.  An endpoint that
> receives an unexpected stream identifier MUST respond with a
> connection error (Section 5.4.1) of type PROTOCOL_ERROR."


* **Issue Imported From:** https://github.com/javaee/grizzly/issues/1924
* **Original Issue Raised By:**@rlubke
* **Original Issue  Assigned To:**@rlubke
* **Original Issue  Closed By:**@rlubke