HTTP DELETE verb will cause request processing to hang as body content is expected.

Consider the following request:

DELETE /management/domain/configs/config/config-2a157bd248485b43706ec3d7f117d8d2e/java-config/jvm-options?-Doption182a8a1338f694593371df1d4ead356c5&-Doption3eaa81ae8af8659d53562c17380b0fca0 HTTP/1.1
Accept: application/json
User-Agent: Java/1.6.0_24
Host: localhost:4848
Connection: keep-alive

HttpServerFilter.prepareRequest() will not consider this request as on that shouldn't have an entity body (spec is vague here). As such the processing will hand as a body is expected but never sent.

We could update the logic to check all methods similar to GET and mark the request as not having a request body, or if there is no content length header or transfer-encoding header, then mark the
request as having no body.
#### Affected Versions
[2.1]

@glassfishrobot Commented 
Reported by @rlubke

@glassfishrobot Commented 
@rlubke said:
Regarding supporting entity bodies with the DELETE verb:

Section 4.3 of RFC 2616 states the following:

"A server SHOULD read and forward a message-body on any request; if the request method does not include defined semantics for an entity-body, then the message-body SHOULD be ignored when handling the
request."

SHOULD is not a MUST, so we should attempt to handle a body if one is indicated by either a content-length header or a transfer-encoding.

@glassfishrobot Commented 
@rlubke said:
Fix for 2.1.1.

@glassfishrobot Commented 
Marked as **fixed** on Tuesday, May 17th 2011, 4:09:22 am

@glassfishrobot Commented 
This issue was imported from java.net JIRA GRIZZLY-1010

* **Issue Imported From:** https://github.com/javaee/grizzly/issues/1010
* **Original Issue Raised By:**@glassfishrobot
* **Original Issue  Assigned To:**@rlubke
* **Original Issue  Closed By:**@glassfishrobot